<h1>
  {{title}}
</h1>
<!--<svg #svgelement [attr.viewBox]="getViewbox()" style="width: 100%; height: 100%">
  <svg:rect x="10" y="10" stroke="black" id="e1_rectangle" style="stroke-width: 1px;" [attr.width]="rect_width" [attr.height]="rect_height"
    fill="khaki" />

</svg>-->

<!--<svg width="80" height="80" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">

  <defs>
    <g id="Port">
      <circle style="fill: inherit;" r="5"/>
    </g>
  </defs>
 <svg *ngFor="let item of dots">
   
   <text [attr.y]="item.y_label" >
   {{item.label}}</text>
   <use [attr.class]="item.class" [attr.x]="item.x" [attr.y]="item.y_levation" href="#Port" />
 </svg>
  
  
</svg>-->

<!--From wise mapping-->
<!--<svg focusable="true" id="workspace" preserveAspectRatio="none" width="1600" height="900" viewBox="-491.6 -321.20000000000005 1280 720">
    <path style="fill:#495879 " stroke-width="1px" stroke="#495879" stroke-opacity="1" fill="#495879" fill-opacity="1" visibility="visible"
        d="M0,0 C20,0 42,24 62,24 42,27 20,5 0,7 Z"></path>
    <path style="fill:#495879 " stroke-width="1px" stroke="#495879" stroke-opacity="1" fill="#495879" fill-opacity="1"
        visibility="visible" d="M0,0 C20,0 42,-4 62,-4 42,-1 20,5 0,7 Z"></path>
    <rect width="50" height="6" rx="0" ry="0" x="5" y="5" stroke-width="1px" stroke="#FF9933" fill="#CC0033" stroke-opacity="0.4"
        fill-opacity="0.4" visibility="hidden"></rect>
    <path style="fill:none " stroke-width="1px" stroke="#CC0033" stroke-opacity="0.4" fill-opacity="0.4" visibility="hidden"></path>
    <path style="fill:none " stroke-width="1px" stroke="#CC0033" stroke-opacity="0.4" fill-opacity="0.4" visibility="hidden"></path>
    <rect width="50" height="6" rx="0" ry="0" x="5" y="5" stroke-width="1px" stroke="#FF9933" fill="#CC0033" stroke-opacity="0.4"
        fill-opacity="0.4" visibility="hidden"></rect>
    <g preserveAspectRatio="none" focusable="true" width="100" height="100" transform="translate(-31,-19) scale(1,1)"
        visibility="visible">
        <rect width="67" height="44" rx="6.6" ry="6.6" x="-2" y="-3" stroke-width="1px" stroke="rgb(241,163,39)" fill="rgb(244,184,45)"
            stroke-opacity="1" fill-opacity="1" style="cursor: default;"></rect>
        <rect width="63" height="38" rx="5.7" ry="5.7" x="0" y="0" stroke-width="2px" fill="rgb(80,157,192)" stroke="rgb(57,113,177)"
            style="cursor: default;"></rect>
        <text font-family="verdana" font-size="13.4375" font-style="normal" font-weight="bold" fill="#ffffff" visibility="visible"
            style="cursor: default;" y="11" x="11">
            <tspan dy="1em" x="11">TEST</tspan>
        </text>
        <g preserveAspectRatio="none" focusable="true" width="0" height="16" transform="translate(0,11) scale(0,0.16)"></g>
    </g>
    <g preserveAspectRatio="none" focusable="true" width="100" height="100" transform="translate(62,-23) scale(1,1)" visibility="visible">
        <rect width="66" height="25" rx="3.75" ry="3.75" x="-2" y="-3" stroke-width="1px" stroke="rgb(241,163,39)" fill="rgb(252,235,192)"
            stroke-opacity="0" fill-opacity="0"></rect>
        <line stroke-width="1px" stroke="#495879" stroke-opacity="1" style="cursor: move;" x1="0" y1="19" x2="62"
            y2="19"></line>
        <text font-family="verdana" font-size="10.75" font-style="normal" font-weight="normal" fill="rgb(82,92,97)"
            visibility="visible" style="cursor: move;" y="3" x="3">
            <tspan dy="1em" x="3">Main Topic</tspan>
        </text>
        <ellipse width="6" height="6" rx="3" ry="3" cx="3" cy="3" stroke-width="1px" stroke="rgb(2,59,185)" fill="rgb(224,229,239)"
            visibility="hidden" style="cursor: default;"></ellipse>
        <g preserveAspectRatio="none" focusable="true" width="0" height="13" transform="translate(0,3) scale(0,0.13)"></g>
    </g>
    <g preserveAspectRatio="none" focusable="true" width="100" height="100" transform="translate(62,5) scale(1,1)" visibility="visible">
        <rect width="66" height="25" rx="3.75" ry="3.75" x="-2" y="-3" stroke-width="1px" stroke="rgb(241,163,39)" fill="rgb(252,235,192)"
            stroke-opacity="0" fill-opacity="0"></rect>
        <line stroke-width="1px" stroke="#495879" stroke-opacity="1" style="cursor: move;" x1="0" y1="19" x2="62"
            y2="19"></line>
        <text font-family="verdana" font-size="10.75" font-style="normal" font-weight="normal" fill="rgb(82,92,97)"
            visibility="visible" style="cursor: move;" y="3" x="3">
            <tspan dy="1em" x="3">Main Topic</tspan>
        </text>
        <ellipse width="6" height="6" rx="3" ry="3" cx="3" cy="3" stroke-width="1px" stroke="rgb(2,59,185)" fill="rgb(224,229,239)"
            visibility="hidden" style="cursor: default;"></ellipse>
        <g preserveAspectRatio="none" focusable="true" width="0" height="13" transform="translate(0,3) scale(0,0.13)"></g>
    </g>
</svg>-->

<!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1020px" height="550px" viewBox="0 0  1020 550"
  preserveAspectRatio="xMidYMid meet">
  <rect id="svgEditorBackground" x="0" y="0" width="1020" height="550" style="fill: none; stroke: none;" />
  <polyline stroke="black" id="e1_polyline" style="fill: none; stroke-width: 1px;" points="232 151 456 154 651 386 927 385"
  />
</svg>-->

<!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1020px" height="550px" viewBox="0 0  1020 550"
  preserveAspectRatio="xMidYMid meet">
  <rect id="svgEditorBackground" x="0" y="0" width="1020" height="550" style="fill: none; stroke: none;" />
  <line 
    id="e2_line" 
    x1="209" 
    y1="140" 
    x2="455" 
    y2="392" 
    stroke="black" 
    style="stroke-width: 1px; fill: none;" />
</svg>-->

<svg (click)="cliceMe($event)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1020px" height="650px" viewBox="0 0  1020 550"
  preserveAspectRatio="xMidYMid meet">
   <svg *ngFor="let item of coord">

  <line id="e2_line" [attr.x1]="item.x1" [attr.y1]="item.y1" [attr.x2]="item.x2" [attr.y2]="item.y2" stroke="black" style="stroke-width: 3px; fill: none;" />
   <!--<line id="e3_line" x1="454" y1="392" x2="775" y2="250" stroke="black" style="stroke-width: 1px; fill: none;" />-->
 </svg>
  <!--<line id="e2_line" x1="209" y1="140" x2="455" y2="392" stroke="black" style="stroke-width: 1px; fill: none;" />-->
  <!--<line id="e3_line" x1="454" y1="392" x2="775" y2="250" stroke="black" style="stroke-width: 1px; fill: none;" />-->
</svg>